@import "/app/colours.scss";

.section {
  padding-top: 36px;

  @media (min-width: 768px) {
    padding-top: 100px;
  }

  @media (min-width: 1280px) {
    padding-top: 120px;
  }
}

.wrap {
  @media (min-width: 768px) {
    display: flex;
    justify-content: space-between;
    margin-bottom: 100px;
  }
  
    @media (min-width: 1280px) {
      margin-bottom: 124px;
    }
  }


.title {
  @media (min-width: 768px) {
    width: 272px;
  }

  @media (min-width: 1280px) {
    width: 365px;
  }
}

.text {
  text-align: justify;
  font-size: 16px;
  line-height: normal;
  letter-spacing: -0.64px;
  margin-bottom: 36px;

  @media (min-width: 768px) {
    width: 353px;
    padding-left: 11px;
    margin-bottom: 0;
    border-left: 1px solid $green;
  }

  @media (min-width: 1280px) {
    width: 560px;
    padding-left: 120px;
  }

  @media (min-width: 1440px) {
    width: 620px;
    padding-left: 161px;
  }
}



