@import "/app/colours.scss";

.header {
    width: 100%;
    padding: 36px 0;
    position: fixed;
    background-color: $background;
    z-index: 5;
  }
  
  .scrolled {
    background-color: $white-text;
  }
  
  .wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .menu_btn {
    width: 40px;
    height: 39px;
    padding: 11.5px 12px;
    border: none;
    outline: none;
    border-radius: 500px;
    background-color: $light-green;
    cursor: pointer;
    transition: background-color 300ms linear;
  
    &:hover {
      background-color: $green;
    }
  }

  .btn_wrap {
    @media (min-width: 768px) {
      display: flex;
      gap: 12px;
    }
  }
  
  .contact_btn {
    width: 140px;
  }