@import "/app/colours.scss";

.section {
  padding-top: 36px;
}

.title {
  text-align: center;
}

.list {
  margin-bottom: 36px;
}

.contact_item {
  margin-bottom: 24px;
}

.contact_title {
  text-align: justify;
  font-size: 16px;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.64px;
  margin-bottom: 8px;
}

.content {
  text-align: justify;
  font-size: 20px;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.8px;
}

.link {
  display: flex;
  gap: 8px;
  align-items: center;

  &:hover {
    .icon {
      stroke: $green;
    }
  }
}

.icon_wrap {
  display: flex;
  gap: 8px;
}

.icon_link {
  display: block;
  width: 48px;
  height: 48px;
  padding: 12px;
}

.icon {
  stroke: $dark-green;
  transition: stroke 300ms linear;
}