@import "/app/colours.scss";

.section {
    padding-top: 110px;

    @media (min-width: 768px) {
      padding-top: 128px;
    }
  
    @media (min-width: 1280px) {
      padding-top: 200px;
    }
  }
  
  .wrap {
    padding-bottom: 24px;
    border-bottom: 1px solid $green;

    @media (min-width: 768px) {
      display: flex;
      justify-content: space-between;
    }
  }
  
  .title {
    font-size: 36px;

    @media (min-width: 768px) {
      width: 300px;
      font-size: 48px;
    }
  
    @media (min-width: 1280px) {
      width: 484px;
      font-size: 64px;
    }
  }

  .content_wrap {
    @media (min-width: 768px) {
      width: 342px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }
  
    @media (min-width: 1280px) {
      width: 459px;
    }
  }
  
  .text {
    text-align: justify;
    font-size: 16px;
    line-height: normal;
    letter-spacing: -0.6px;
    margin-bottom: 24px;

    @media (min-width: 1280px) {
      width: 362px;
    }
  }
  
  .button {
    width: 142px;
    height: 40px;
    display: flex;
    padding: 4px 4px 4px 16px;
    justify-content: center;
    align-items: center;
    gap: 12px;
    margin: 0 auto;
    border-radius: 500px;
    border: 1px solid $green;
    font-size: 16px;
    line-height: 1.12;
    letter-spacing: -0.64px;
    transition: 300ms linear;
  
    &:hover {
      background-color: $dark-green;
      border: 1px solid $dark-green;
      color: $green;
    }

    @media (min-width: 768px) {
      margin: 0;
    }
  }
  
  .icon_wrap {
    width: 32px;
    height: 32px;
    padding: 8px;
    border-radius: 100px;
    background: $green;
  }
  
  .icon {
    stroke: $dark-green;
  }

  .contact_wrap {
    margin: 24px 0 36px;
  
    @media (min-width: 768px) {
      display: flex;
      justify-content: space-between;
      margin: 16px 0 36px;
    }
  }
  
  .adress {
    font-size: 16px;
    letter-spacing: -0.64px;
    text-align: center;
    margin-bottom: 8px;
  
    @media (min-width: 768px) {
      margin-bottom: 0px;
    }
  }
  
  .contact_wrap_add {
    @media (min-width: 768px) {
      width: 342px;
      display: flex;
      justify-content: space-between;
    }
  
    @media (min-width: 1280px) {
      width: 458px;
    }
  }
  
  .email {
    font-size: 16px;
    letter-spacing: -0.64px;
    text-align: center;
  }
  
  .rights {
    display: none;
  
    @media (min-width: 768px) {
      display: inline;
      font-size: 16px;
      letter-spacing: -0.64px;
      text-align: center;
    }
  }
  
  .img_wrap {
    min-width: 320px;
    height: 200px;
    width: 100%;
  
    @media (min-width: 768px) {
      height: 348px;
    }
  
    @media (min-width: 1280px) {
      height: 524px;
    }
  }