@import "/app/colours.scss";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
    width: auto;
}

body {
    background-color: $background;
    font-family: var(--font-fira);
    width: 100%;
    font-style: normal;
    display: flex;
    flex-direction: column;
    color: $dark-green;
}

button {
    cursor: pointer;
}

.no-overflow {
    overflow: hidden;
}

main {
  max-width: 100%;
  overflow-x: hidden;
}

ul,
ol {
    list-style: none;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

a {
    text-decoration: none;
    color: inherit;
}