@import "/app/colours.scss";

.section {
  padding-bottom: 36px;

  @media (min-width: 768px) {
    padding-top: 100px;
  }

  @media (min-width: 1280px) {
    padding-top: 120px;
  }
}

.container {
  position: relative;
}

.title {
  width: 264px;

  @media (min-width: 768px) {
    position: absolute;
  }

  @media (min-width: 1280px) {
    width: 398px;
  }
}