@import "/app/colours.scss";

.img_wrap {
  width: 100%;
  height: 168px;

  @media (min-width: 1280px) {
    height: 296px;
  }
}

.wrap {
  width: 100%;
  padding: 24px 12px 12px 12px;
  background-color: $bg-section;

  @media (min-width: 1280px) {
    padding: 36px 48px;
  }
}

.title_wrap {
  height: 94px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding-bottom: 21px;
  margin-bottom: 12px;
  border-bottom: 1px solid $green;

  @media (min-width: 1280px) {
    padding-bottom: 36px;
    margin-bottom: 24px;
  }
}

.title {
  text-align: justify;
  font-size: 18px;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.72px;
  width: 175px;

  @media (min-width: 768px) {
    font-size: 20px;
    width: 200px;
  }

  @media (min-width: 1280px) {
    display: none;
  }
}

.desk_title {
  display: none;

  @media (min-width: 1280px) {
    display: block;
    text-align: justify;
    font-size: 24px;
    font-weight: 400;
    letter-spacing: -0.96px;
  }
}

.button {
  width: 60px;
  height: 60px;
  padding: 16px;
  border-radius: 100px;
  background-color: $green;
  border: none;
  outline: none;
  transition: background-color 300ms linear;
  cursor: pointer;

  &:hover {
    background-color: $dark-green;

    .icon {
      stroke: $green;
    }
  }
}

.icon {
  stroke: $dark-green;
  transition: stroke 300ms linear;
}

.text_wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.text {
  font-size: 12px;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.48px;

  @media (min-width: 768px) {
    font-size: 14px;
  }

  @media (min-width: 1280px) {
    font-size: 16px;
    letter-spacing: -0.64px;
  }
}